*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Montserrat', sans-serif;    
}


.menu-mobile{
    display: inline;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.icone-menu{
    width: 25%;
    font-size: 35px;
    display: none;
    color: white;
    
}

.paragraph-menu{
    width: 25%;
    font-family: 'Montserrat', 'black';
    font-size: 30px;
    font-weight: bolder;
    display: none;
    color: black;
    
}




.menu-header{
    width: 100vw;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.h1-header{
    width: 50%;
    font-family: 'Montserrat', 'bold';
    font-size: 40px;
    color: #000000;
    margin-left: 3rem;
}

.nav-header{
    width: 50%;

}

ul{
    list-style: none; 
    display: flex;
}

li{
    font-family: 'Montserrat', 'light';
    font-size: 20px;
    color: #707070;
    text-transform: capitalize;
    margin: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    font-family: 'Montserrat', 'black';
    font-size: 25px;
    color: #000000;
    font-weight: bolder;
}

.texts-header{

background-image: url(../portflow/imagens/laranja\ azul\ recorte.png);
background-repeat: no-repeat;
position: relative;
width: 100%;
height: 800px;
}

.h2-header{
    width: 100%;
    font-family: 'Montserrat', 'ExtraBold';
    font-size: 78px; 
    color: #FFFFFF;
    margin-left: 3rem;

    
}

.paragraph-header{
    width: 100%;
    height:auto;
    font-family: 'Montserrat', 'Light';
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content:flex-end;
   
}


.photos-main{
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.photos1{
    display: flex;
    flex-direction: column;
}

.photos2{
    display: flex;
    flex-direction: column;
}

.photos3{
    display: flex;
    flex-direction: column;
}

.photos4{
    display: flex;
    flex-direction: column;
}

.footer{
    width:100vw;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.icones{
    width: 25%;
}

.h3-footer{
    width: 15%;
    font-family: 'Montserrat', 'Bold';
    font-size: 20px;
    color: #000000;
    text-transform:capitalize;
}

.paragraph-footer{
    width: 60%;
    font-family: 'Montserrat', 'Light';
    font-size: 15px;
    color: #000000;
    text-transform:capitalize;
}

button{
    font-size: 12px;
    font-family: 'Montserrat', 'Light';    
    cursor: pointer;
    color: #CCCCCC;
    background-color:#333333;
    border: #707070;
    display: none;   
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     