*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.menu-mobile{
    display: inline;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icone-menu{
    width: 25%;
    font-size: 35px;
    display: none;
    color: white;    
}
@media (max-width: 425px)
{
  .icone-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
   }
}


.paragraph-menu{
    width: 25%;
    font-family: 'Montserrat', 'black';
    font-size: 30px;
    font-weight: bolder;
    display: none;
    color: black;    
}
@media (max-width: 425px)
{
.paragraph-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
   }
}


.menu-header{
    width: 100%;
    display: inline;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 425px)
{
  .menu-header{
    width: 100%;
    display: none;
   }
}

@media (max-width: 768px)
{
  .menu-header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
}


.h1-header{
    width: 30%;
    font-family: 'Montserrat', 'bold';
    font-size: 40px;
    color: #000000;
}

.nav-header{
    width: 50%;
}


ul{
    list-style: none; 
    display: flex;
    justify-content: space-evenly;

}

li{
    font-family: 'Montserrat', 'light';
    font-size: 20px;
    color: #707070;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    font-family: 'Montserrat', 'black';
    font-size: 25px;
    color: #000000;
    font-weight: bolder;
}

.texts-header{
background-image: url(../portflow/imagens/laranja\ azul\ recorte.png);
background-size: cover;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.h2-header{
    width: 100%;
    font-family: 'Montserrat', 'ExtraBold';
    font-size: 78px; 
    color: #FFFFFF;
}


.paragraph-header{
    
    font-family: 'Montserrat', 'Light';
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.gallery{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.photograpy1{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}



.footer{
    width:100vw;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 2rem;
}

.icones{
    width: 25%;
    display: flex;
    cursor: pointer;
    
}

.h3-footer{
    width: 15%;
    font-family: 'Montserrat', 'Bold';
    font-size: 20px;
    color: #000000;
    text-transform:capitalize;
}

.paragraph-footer{
    width: 60%;
    font-family: 'Montserrat', 'Light';
    font-size: 15px;
    color: #000000;
    text-transform:capitalize;
}

button{
    font-size: 12px;
    font-family: 'Montserrat', 'Light';    
    cursor: pointer;
    color: #CCCCCC;
    background-color:#333333;
    border: #707070;
    display: none;   
    cursor: pointer;
}
 






