*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-mobile{
    display: none;
}

.menu-header{
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h1-menu{
    
    font-family: 'Montserrat', 'bold';
    font-size: 5vh;
    color: #000000;
}

ul{
    list-style: none; 
    display: flex;
    justify-content: space-evenly;

}

li{
    font-family: 'Montserrat', 'light';
    font-size: 4vh;
    color: #707070;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    font-family: 'Montserrat', 'black';
    font-size: 25px;
    color: #000000;
    font-weight: bolder;
}

.contents-header{
    height: 100vh;
    background-image: url(../portflow/imagens/laranja\ azul\ recorte.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.h2-header{
    font-family: 'Montserrat', 'ExtraBold';
    font-size: 10vh; 
    color: #FFFFFF;
    margin-top: 10rem;
    margin-left: 2rem;
}

.paragraph-header{
    font-family: 'Montserrat', 'Light';
    font-size: 4vh;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 2rem;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display:flex;
    flex-direction: column;
}

.box-1, .box-2, .box-3{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
}

.photo-box-1, .photo-box-2, .photo-box-3{
    width: 20%;
    height: 30%;
    margin: 1rem;
    
}


 


.footer{
    width: 100vw;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.icones{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer; 
    margin-left: 3rem;
}

.h3-footer{
    font-family: 'Montserrat', 'Bold';
    font-size: 3vh;
    color: #000000;
    text-transform:capitalize;
    margin-left: 3rem;
}

.paragraph-footer{
    margin-left: 4rem;
   width: 60%;
    font-family: 'Montserrat', 'Light';
    font-size: 2vh;
    color: #000000;
    text-transform:capitalize;
}

button{
    width: 11vh;
    height: 4vh;
    font-size: 2vh;
    font-family: 'Montserrat', 'Light';    
    cursor: pointer;
    color: #CCCCCC;
    background-color:#333333;
    border: #707070;
    display: none;   
    cursor: pointer;
    text-transform: uppercase;
}



